<!doctype html>
<html lang="en" ng-app="mainModule">
    <head>
        <meta charset="utf-8">
        <title>Initial grunt project</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
        <link rel="stylesheet" type="text/css" href="css/application.css">
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
        <script src="bower_components/codemirror/lib/codemirror.js"></script>
        <script src="bower_components/codemirror/mode/xml/xml.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src='bower_components/angular-route/angular-route.min.js'></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/file-saver.js/FileSaver.js"></script>
        <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/services.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>

      <div class="container-fluid">
            <afpa-header></afpa-header>

            <div class="row" ng-controller="XSLTController">
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">XSL Model Editor</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-success" ng-click="generate();">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Structure XML
                            </button>
                            <button type="button" class="btn btn-success" ng-click="generate();">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Aperçu PDF
                            </button>
                            <div>&nbsp</div>
                            <uib-tabset>
                                <uib-tab heading="Modèle"><div ui-codemirror="{ onLoad : codemirrorLoaded }"></div></uib-tab>
                                <uib-tab heading="Design">

                                </uib-tab>
                                <uib-tab heading="XML"><div ui-codemirror="{ onLoad : codemirrorXMLLoaded }"></div></uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">PDF Viewer</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-hide="pdfRefreshed" style="width:100%;height:800px;display:table-cell;vertical-align: middle;text-align:center;">
                                <img src="images/spinner.gif" style="position:relative;left:300%;width:150%"/>
                            </div>
                            <iframe ng-src="{{pdfTmpUrl}}"
                                    ng-show="pdfRefreshed"
                                    width="100%"
                                    height="800px"
                                    allowfullscreen
                                    webkitallowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
