<div class="row" >
    <div class="col-md-1">
        <img alt="Brand" src="images/logo-afpa.png">
    </div>
    <div class="col-md-4">
        <h3 style="color:#87bb34">La formation professionnelle</h3>
        <h2><small>Gestion du modèle : Attestation d'entrée en formations</small></h2>
    </div>
    <div class="col-md-7">
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#/edition">Editions</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <ol class="breadcrumb">
        <li><a href="#">Accueil</a></li>
        <li><a href="#/edition">Gestion des éditions</a></li>
        <li><a href="#/workspace">Gestion des modèles</a></li>
        <li class="active">Modification</li>
    </ol>
</div>